// app global css

//@font-face
//  font-family customfont
//  src url(../assets/IndieFlower.ttf)
//
//* {
//  font-family 'customfont'
//}

.bg-black-gradient {
  background: rgb(11,11,11);
  background: linear-gradient(0deg, rgba(11,11,11,1) 0%, rgba(43,43,43,1) 100%);
};

.bg-no-opacity {
  background: rgba(0, 0, 0, 0);
};

.bg-img {
  background-image: url("../statics/carousel/festival3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
};


.portada{
  background: linear-gradient(to right bottom, rgb(0, 51, 204) 0%, rgb(0, 255, 153) 100%);
  height: calc(100vh - 51px);
  display: flex;
  justify-content: center;
  align-items: center;
};

  #home-publica:hover{
    cursor:pointer;
  }
.q-toolbar__title p{
  margin-bottom:0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

  p{
    margin:0;
  }

.enunciado{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pregunta{
  width:70%;
}

.cancion, .playlist{
  border:1px solid black;
  padding: 20px;
  height: 100px;
  }

  .menu-lateral{
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    padding: 20px;
  }

@media screen and (max-width: 900px) {
  #menu-superior {
    display: flex;
    flex-direction column;
  }

  .portada h1{
    font-size: 60px;
  }

  .portada h4{
    font-size: 20px;
  }
}
